  .prestasi-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .prestasi-item {
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
    position: relative
  }

  .prestasi-item:hover {
    transform: scale(1.1);
   }
  
  .prestasi-icon {
    width: 240px;
    height: 240px;
  }
  
  .prestasi-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    pointer-events: none;
  }